<section>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <p id="notice"><%= notice %></p>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><strong>Name:</strong></th>
            <td><%= @pet.name.capitalize %></td>
          </tr>
          
          <tr>
            <th><strong>Type:</strong></th>
            <td><%= @pet.animal_type %></td>
          </tr>

          <tr>
            <th><strong>Breed:</strong></th>
            <td><%= @pet.breed %></td>
          </tr>

          <tr>
            <th><strong>Owner:</strong></th>
            <td><%= link_to @pet.user.name, @pet.user %></td>
          </tr>

          <% if @pet.has_parent? %>
            <tr>
              <th><strong>Parent: </strong></th> 
                <td><%= link_to @pet.parent.name, @pet.parent %></td>
            </tr>
          <% end %>

          <tr>
            <th><strong>Description:</strong></th>
            <td><%= @pet.description %></td>
          </tr>
        </tbody>
      </table>


      <p>
        
      </p>
    </div>
    <div class="col-sm-1"></div>
  </div>
  
</section>


<section>
  <div class=row>
    <div class="col-sm-1"></div>
    <div class="pet_photos col-sm-11">
      <div class="card-columns">
        <% @pet.photos.each do |photo| %>
          <div class="card">
            <%= image_tag(photo.pet_image, style:"width:100%",class: "img-fluid card-img-top") %>
            <div class="card-body">
              <h5 class="card-title"><%= photo.title %></h5>
              <p class="card-text"><%= photo.description %></p>
              <% if @pet.owned_by(@user) %>
                <p class="card-text">
                  <%= link_to 'Edit photo', edit_photo_path(photo) %>
                  <%= link_to 'Delete photo', photo, method: :delete, data: { confirm: 'Are you sure?' } %> 
                  </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section> 



<% if @pet.owned_by(@user) %>
  <%= link_to 'Edit', edit_pet_path(@pet) %> |
  <%= link_to 'Add photo', new_photo_path %> |
<% end%>

<%= link_to 'Back', @user %>
