<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<div style="width:200px; height:auto">
	<%= image_tag(@photo.pet_image, style:"width:100%") if @photo.pet_image.attached? %>
</div>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
