
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">PetBook</a>
  
  <section>
      <nav class="main_app_nav">
        <ul>
          <li><%= link_to 'Home', welcome_index_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <% if session[:user_id] %>
            <li><%= link_to 'My profile', user_url(session[:user_id]) %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          <% else%>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Sign in', new_user_path %></li>
          <% end %>
        </ul>
    </nav>
    </section>
</nav>
 