<!DOCTYPE html>
<html>
  <head>
    <title>Petbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav class="main_app_nav">
      <ul>
        <li><%= link_to 'Home', welcome_index_path %></li>
        <% if session[:user_id] %>
          <li><%= link_to 'My profile', user_url(session[:user_id]) %></li>
          <li><%= button_to 'Logout', logout_path, method: :delete %></li>
        <% else%>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign in', new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    </section>
    
    <%= yield %>
  </body>
</html>
